

<div class="logo">
 <%= image_tag "logo2.png" %>
</div>

<% if !@current_user %>
	<div class="fbLogin">
	<%= link_to "Login with Facebook", "/auth/facebook", class: "btn btn-primary" %>
	</div>
<% end %>

<div class=" mission_container">
	<h1 class="well mission_statement col-xs-12">Let’s make ride shares easy.</h1>
</div>

<div class="well ride_btn">
	<h2 class="get_ride">In a rush? Request a ride now.</h2>
	<span class="arrow">&#8594;</span>
	<a href="lyft://"> <%= image_tag('lyft_mobile.png')%> </a>
	<a href="<%= @uber_url %>" class="uber_btn"><%= image_tag('uber_mobile.png')%> </a> 
	<span class="arrow">&#8592;</span>
</div>
